#USO DA BIBLIOTECA PANDAS

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_excel('/content/drive/MyDrive/Estudos Data/Python - Programaria/planilha_modulo2.xlsx')

In [ ]:
len(dados)

4271

In [ ]:
dados.shape

(4271, 28)

In [ ]:
dados.columns

Index(['ID', 'IDADE', 'FAIXA IDADE', 'GENERO', 'COR/RACA/ETNIA', 'PCD',
       'EXPERIENCIA_PROFISSIONAL_PREJUDICADA', 'PREJUDICA?',
       'ASPECTOS_PREJUDICADOS', 'VIVE_NO_BRASIL', 'ESTADO ONDE MORA',
       'UF ONDE MORA', 'REGIAO ONDE MORA', 'MUDOU DE ESTADO?',
       'REGIAO DE ORIGEM', 'NIVEL DE ENSINO', 'ÁREA DE FORMAÇÃO',
       'Computação?', 'QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?', 'SETOR',
       'NUMERO DE FUNCIONARIOS', 'GESTOR?', 'CARGO COMO GESTOR', 'CARGO ATUAL',
       'NIVEL', 'FAIXA SALARIAL',
       'QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?',
       'QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?'],
      dtype='object')

In [ ]:
dados[(dados['COR/RACA/ETNIA']=='Amarela')&(dados['IDADE']>30)]

,ID,IDADE,FAIXA IDADE,GENERO,COR/RACA/ETNIA,PCD,EXPERIENCIA_PROFISSIONAL_PREJUDICADA,PREJUDICA?,ASPECTOS_PREJUDICADOS,VIVE_NO_BRASIL,...,QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?,SETOR,NUMERO DE FUNCIONARIOS,GESTOR?,CARGO COMO GESTOR,CARGO ATUAL,NIVEL,FAIXA SALARIAL,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?,QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?
97,zbukfwxvpwlk6loglm0zbukfwx6bvyb6,40.0,40-44,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,Empregado (CLT),Varejo,Acima de 3.000,False,NaN,Analista de BI/BI Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 6 anos,Mais de 10 anos
107,z9toybzbja7n6xjjbz9f8hmofrry69tg,44.0,40-44,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,Empregado (CLT),Indústria,Acima de 3.000,False,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 12.001/mês a R$ 16.000/mês,Mais de 10 anos,Mais de 10 anos
159,ytrnz3zyvn791t3dum1ytrnz3zp22tmk,37.0,35-39,Feminino,Amarela,Não,"Sim, acredito que a minha a experiência profis...",False,"Oportunidades de progressão de carreira, Aprov...",True,...,Empregado (CLT),Tecnologia/Fábrica de Software,de 101 a 500,False,NaN,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,de 7 a 10 anos
170,yri3z491ejizlpj9ylu2k3jyri3z4915,34.0,30-34,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,Empregado (CLT),Varejo,Acima de 3.000,True,Gerente/Head,NaN,NaN,de R$ 16.001/mês a R$ 20.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...
195,yjbpxmkqz5yidh5oszyjbpxmkgcb1zd9,32.0,30-34,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,"Desempregado, buscando recolocação",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,2baf3bx82w0sh88q3eikkl92baf3bx8f,41.0,40-44,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,True,Gerente/Head,NaN,NaN,de R$ 30.001/mês a R$ 40.000/mês,Mais de 10 anos,Não tive experiência na área de TI/Engenharia ...
4076,1lwfy38bx9ogrw8ik91lwfyal0tikxld,49.0,45-49,Feminino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,Servidor Público,Setor Público,de 501 a 1.000,False,NaN,Analista de BI/BI Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,Mais de 10 anos,de 3 a 4 anos
4210,0hbwm1d1wz739r40hbwm1df6ky5kn4ap,43.0,40-44,Feminino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,Servidor Público,Setor Público,Acima de 3.000,False,NaN,Desenvolvedor/ Engenheiro de Software/ Analist...,Sênior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Mais de 10 anos
4257,043snvbsxn3fuyfe043j5comuyu8g6ba,46.0,45-49,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,True,Gerente/Head,NaN,NaN,Acima de R$ 40.001/mês,Mais de 10 anos,Não tive experiência na área de TI/Engenharia ...
4262,02vlm03c29g3fcys8tj06102vlm0983h,31.0,30-34,Masculino,Amarela,Não,Não acredito que minha experiência profissiona...,False,NaN,True,...,Empregado (CLT),Tecnologia/Fábrica de Software,de 501 a 1.000,True,Team Leader/Tech Leader,NaN,NaN,de R$ 16.001/mês a R$ 20.000/mês,de 3 a 4 anos,de 3 a 4 anos

In [ ]:
dados.value_counts([(dados['COR/RACA/ETNIA']=='Amarela')&(dados['IDADE']>30)])

False    4207
True       64
Name: count, dtype: int64

In [ ]:
dados[dados['GENERO']=='Masculino']['IDADE'].mean()

31.147876077930373

In [ ]:
dados3 = pd.read_excel('/content/drive/MyDrive/Estudos Data/Python - Programaria/planilha_modulo3.xlsx')

In [ ]:
dados3[dados3['GENERO']=='Masculino']['SALARIO'].mean()

11724.552688172043

In [ ]:
dados3[dados3['GENERO']=='Masculino']['SALARIO'].max()

485191.0

In [ ]:
dados3[dados3['GENERO']=='Masculino']['SALARIO'].std()

21938.28990765549

In [ ]:
dados3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 28 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Unnamed: 0                                                                                                                 4271 non-null   int64
 1   ID                                                                                                                         4271 non-null   object
 2   IDADE                                                                                                                      4197 non-null   float64
 3   FAIXA IDADE                                                                                                                4271 non-null   object
 4   GENERO                                                                                                                     4262 non-null   object
 5   COR/RACA/ETNIA                                                                                                             4271 non-null   object
 6   PCD                                                                                                                        4271 non-null   object
 7   EXPERIENCIA_PROFISSIONAL_PREJUDICADA                                                                                       2190 non-null   object
 8   ASPECTOS_PREJUDICADOS                                                                                                      837 non-null    object
 9   VIVE_NO_BRASIL                                                                                                             4271 non-null   bool
 10  ESTADO ONDE MORA                                                                                                           4156 non-null   object
 11  UF ONDE MORA                                                                                                               4156 non-null   object
 12  REGIAO ONDE MORA                                                                                                           4171 non-null   object
 13  MUDOU DE ESTADO?                                                                                                           4171 non-null   float64
 14  REGIAO DE ORIGEM                                                                                                           772 non-null    object
 15  NIVEL DE ENSINO                                                                                                            4271 non-null   object
 16  ÁREA DE FORMAÇÃO                                                                                                           4149 non-null   object
 17  QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?                                                                                       4271 non-null   object
 18  SETOR                                                                                                                      3694 non-null   object
 19  NUMERO DE FUNCIONARIOS                                                                                                     3694 non-null   object
 20  GESTOR?                                                                                                                    3694 non-null   float64
 21  CARGO COMO GESTOR                                                                                                          713 non-null    object
 22  CARGO ATUAL                                                                                                                2981 non-null   object
 23  NIVEL                                                                                                                      2981 non-null   object
 24  FAIXA SALARIAL                                                                                                             3694 non-null   object
 25  QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?                                                                     3694 non-null   object
 26  QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?  3694 non-null   object
 27  SALARIO                                                                                                                    3694 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(22)
memory usage: 905.2+ KB

### Trabalhando dados faltantes

In [ ]:
dados3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 28 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Unnamed: 0                                                                                                                 4271 non-null   int64
 1   ID                                                                                                                         4271 non-null   object
 2   IDADE                                                                                                                      4197 non-null   float64
 3   FAIXA IDADE                                                                                                                4271 non-null   object
 4   GENERO                                                                                                                     4262 non-null   object
 5   COR/RACA/ETNIA                                                                                                             4271 non-null   object
 6   PCD                                                                                                                        4271 non-null   object
 7   EXPERIENCIA_PROFISSIONAL_PREJUDICADA                                                                                       2190 non-null   object
 8   ASPECTOS_PREJUDICADOS                                                                                                      837 non-null    object
 9   VIVE_NO_BRASIL                                                                                                             4271 non-null   bool
 10  ESTADO ONDE MORA                                                                                                           4156 non-null   object
 11  UF ONDE MORA                                                                                                               4156 non-null   object
 12  REGIAO ONDE MORA                                                                                                           4171 non-null   object
 13  MUDOU DE ESTADO?                                                                                                           4171 non-null   float64
 14  REGIAO DE ORIGEM                                                                                                           772 non-null    object
 15  NIVEL DE ENSINO                                                                                                            4271 non-null   object
 16  ÁREA DE FORMAÇÃO                                                                                                           4149 non-null   object
 17  QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?                                                                                       4271 non-null   object
 18  SETOR                                                                                                                      3694 non-null   object
 19  NUMERO DE FUNCIONARIOS                                                                                                     3694 non-null   object
 20  GESTOR?                                                                                                                    3694 non-null   float64
 21  CARGO COMO GESTOR                                                                                                          713 non-null    object
 22  CARGO ATUAL                                                                                                                2981 non-null   object
 23  NIVEL                                                                                                                      2981 non-null   object
 24  FAIXA SALARIAL                                                                                                             3694 non-null   object
 25  QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?                                                                     3694 non-null   object
 26  QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?  3694 non-null   object
 27  SALARIO                                                                                                                    3694 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(22)
memory usage: 905.2+ KB

In [ ]:
dados3.groupby('GENERO', dropna=False)['ID'].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro não informar      12
NaN                        9
Name: ID, dtype: int64

In [ ]:
dados3['GENERO']=dados3['GENERO'].fillna('Prefiro não informar')

In [ ]:
dados3.groupby('GENERO', dropna=False)['ID'].nunique()

GENERO
Feminino                1055
Masculino               3194
Prefiro não informar      21
Name: ID, dtype: int64

In [ ]:
dados3[dados3['IDADE'].isnull()]['FAIXA IDADE'].value_counts()

FAIXA IDADE
55+      68
17-21     6
Name: count, dtype: int64

In [ ]:
media_17_21= dados3[dados3['FAIXA IDADE']=='17-21']['IDADE'].mean()
print(media_17_21)

20.205479452054796

In [ ]:
dados3.loc[(dados3['FAIXA IDADE']== '17-21')&(dados3['IDADE'].isnull()),'IDADE']

1925   NaN
2393   NaN
3367   NaN
4086   NaN
4177   NaN
4269   NaN
Name: IDADE, dtype: float64

In [ ]:
dados3.loc[(dados3['FAIXA IDADE']=='17-21') & (dados3['IDADE'].isnull()),'IDADE']= media_17_21

In [ ]:
dados3.loc[(dados3['FAIXA IDADE']== '17-21')&(dados3['IDADE'].isnull()),'IDADE']

Series([], Name: IDADE, dtype: float64)

In [ ]:
dados3[dados3['IDADE'].isnull()]['FAIXA IDADE'].value_counts()

FAIXA IDADE
55+    68
Name: count, dtype: int64

In [ ]:
media_geral=dados3['IDADE'].mean()
print(media_geral)

31.153517220250375

In [ ]:
dados3.loc[(dados3['FAIXA IDADE']=='55+') & (dados3['IDADE'].isnull()),'IDADE']= media_geral

In [ ]:
dados3[dados3['IDADE'].isnull()]['FAIXA IDADE'].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
mediana_salario=dados3['SALARIO'].median()

In [ ]:
dados3.loc[dados3['SALARIO'].isnull(),'SALARIO']=mediana_salario

In [ ]:
dados3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4271 entries, 0 to 4270
Data columns (total 28 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Unnamed: 0                                                                                                                 4271 non-null   int64
 1   ID                                                                                                                         4271 non-null   object
 2   IDADE                                                                                                                      4271 non-null   float64
 3   FAIXA IDADE                                                                                                                4271 non-null   object
 4   GENERO                                                                                                                     4271 non-null   object
 5   COR/RACA/ETNIA                                                                                                             4271 non-null   object
 6   PCD                                                                                                                        4271 non-null   object
 7   EXPERIENCIA_PROFISSIONAL_PREJUDICADA                                                                                       2190 non-null   object
 8   ASPECTOS_PREJUDICADOS                                                                                                      837 non-null    object
 9   VIVE_NO_BRASIL                                                                                                             4271 non-null   bool
 10  ESTADO ONDE MORA                                                                                                           4156 non-null   object
 11  UF ONDE MORA                                                                                                               4156 non-null   object
 12  REGIAO ONDE MORA                                                                                                           4171 non-null   object
 13  MUDOU DE ESTADO?                                                                                                           4171 non-null   float64
 14  REGIAO DE ORIGEM                                                                                                           772 non-null    object
 15  NIVEL DE ENSINO                                                                                                            4271 non-null   object
 16  ÁREA DE FORMAÇÃO                                                                                                           4149 non-null   object
 17  QUAL SUA SITUAÇÃO ATUAL DE TRABALHO?                                                                                       4271 non-null   object
 18  SETOR                                                                                                                      3694 non-null   object
 19  NUMERO DE FUNCIONARIOS                                                                                                     3694 non-null   object
 20  GESTOR?                                                                                                                    3694 non-null   float64
 21  CARGO COMO GESTOR                                                                                                          713 non-null    object
 22  CARGO ATUAL                                                                                                                2981 non-null   object
 23  NIVEL                                                                                                                      2981 non-null   object
 24  FAIXA SALARIAL                                                                                                             3694 non-null   object
 25  QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE DADOS VOCÊ TEM?                                                                     3694 non-null   object
 26  QUANTO TEMPO DE EXPERIÊNCIA NA ÁREA DE TI/ENGENHARIA DE SOFTWARE VOCÊ TEVE ANTES DE COMEÇAR A TRABALHAR NA ÁREA DE DADOS?  3694 non-null   object
 27  SALARIO                                                                                                                    4271 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(22)
memory usage: 905.2+ KB

In [ ]:
def preencher_nivel (gestor,nivel):
  if gestor == 1:
    return 'Pessoa Gestora'
  else:
    return nivel

In [ ]:
dados3['NOVO_NIVEL'] = dados3.apply(lambda x: preencher_nivel(x['GESTOR?'], x['NIVEL']), axis=1)

In [ ]:
dados3['NOVO_NIVEL'].value_counts()

NOVO_NIVEL
Pleno             1060
Júnior            1023
Sênior             898
Pessoa Gestora     713
Name: count, dtype: int64